
*.class
*.dex
*.apk
bin/*

.test.txt.swp

bin/dexedLibs/appcompat_v7_2-86160f855e4fdc0cb896761ec9d49e49.jar

bin/R.txt

bin/resources.ap_

gen/com/ridgway/smsautoresponder/R.java

gen/android/support/v7/appcompat/R.java

gen/android/support/v7/appcompat/R.java

gen/com/ridgway/smsautoresponder/R.java
